:root {
    --primary: #157ae0;
    --accent: #fdec00;
    --accent-dark: #dbc417;
    --bg-gray: #f0f0f0;
    --primaryc: #58aa2f;
    --primaryc-light: #56d019;
}

html {
    scroll-behavior: smooth;
}
body {
    color: #444 !important;
}

.back-primary {
    background-color: var(--primary);
    color: #fff;
}
.back-primaryc {
    background-color: var(--primaryc);
    color: #fff;
}
.back-primaryc-light {
    background-color: var(--primaryc-light);
    color: #444;
}
.back-gray {
    background-color: var(--bg-gray);
    color: #444;
}
.back-darkgray {
    background-color: #7e7e7e;
    color: #fff;
}
.text-primaryc {
    color: var(--primaryc);
}

/* navbar */
#navheader {
    z-index: 99;
    position: fixed;
    color: #fff;
    transition: all 0.5s;
}

.navheader-color {
    background-color: #060b11;
}

.navheader-transparent {
    background: none;
}

.navheader-scrolled {
    background-color: #060b11cb;
}

.navbar-nav > li {
    margin-left: 30px;
    margin-right: 30px;
}

.navbar-toggler {
    border-color: #fff;
}

.navbar {
    position: relative;
    z-index: 1;
}

.navbar li::after {
    display: block;
    content: "";
    border-bottom: solid 3px var(--accent);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.navbar li:hover:after {
    transform: scaleX(1);
}
/* endnavbar */

.dropdown-menu {
    margin-top: 10px !important;
    border: none !important;
}

.dropdown-menu a {
    padding: 16px;
}

/* footer */
.footer {
    background: #060b11;
    color: #fff;
    padding-top: 16px;
}

.footer-content {
    padding: 16px;
}

.footer-link ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-link ul li i {
    color: var(--accent);
}

.footer-link ul li a {
    text-decoration: none;
    color: #fff;
}

.footer-foot {
    border-top: 1px solid var(--primary);
    padding: 8px;
}

.socialmedia i {
    color: #fff;
    font-size: 32px;
    margin: 4px;
}
/* endfooter */

#btn-top {
    position: fixed;
    right: 16px;
    bottom: 64px;
    z-index: 999;
    background: var(--accent-dark);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
    text-decoration: none;
    color: #fff;
    display: block;
}

.invisible {
    opacity: 0;
}

.visible {
    opacity: 1;
}

#btn-top:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

@media (max-width: 1200px) {
    .navheader-transparent {
        background-color: #060b11cb;
    }
}
