/* banner */
#banner {
    font-family: 'Montserrat', sans-serif;
    background-image: url("../assets/parallax-pkbm.jpg");
    background-size: cover;
    background-position: center;
}

#banner::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: linear-gradient(to top, #157be0ba, #00000096);
}

.banner-title {
    margin-top: 45px;
}

.banner-title h1 {
    font-size: 52px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    text-align: center;
}

.banner-title p {
    font-size: 22px;
    color: #fff;
}

.section {
    position: relative;
    height: 32vh;
}

.section .section-center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* endbanner */

/* section */
section {
    padding: 16px;
}

section h1 {
    margin-bottom: 16px;
}

.whitesec {
    background-color: #fff;
    color: #444;
}

.whitesec h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 3px;
    margin-top: 4px;
    left: calc(50% - 60px);
    background: var(--primary);
}

.whitesec.visimisi li {
    margin: 8px 0px;
}

.whitesec.visimisi li i {
    color: var(--primary);
}

.whitesec.program .nav-item {
    color: var(--primary);
}

.whitesec.program a {
    text-decoration: none;
    color: #444;
    font-weight: normal;
}

.whitesec.program .row {
    padding: 24px;
}

.whitesec.program .card {
    border: none;
}

.whitesec.program .card-header {
    background-color: #fff;
    border-bottom: 2px solid var(--primary);
    padding: 20px;
}

.graysec {
    background-color: var(--bg-gray);
    color: #444;
}

.list-group{
    max-width: 500px;
}

.list-group a:hover{
    background-color: #157ae02a;
}

.list-group a i{
    color: var(--primary);
}

table.jadwal{
    max-width: 900px;
}

.horizontal-scroll {
    padding-top: 40px;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .content-scroll {
    max-width: 30%;
    min-width: 360px;
    padding: .75rem;
    margin-bottom: 2rem;
    flex-basis: 40%;
    flex-grow: 0;
    flex-shrink: 0;
    border:0;
    text-align: center;
  }

  .chart { height: 600px; margin: 5px; width: 900px; }
  .Treant > .node {  }
  .Treant > p { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: bold; font-size: 12px; }
  .node-name { font-weight: bold; text-align: center;}
  
  .struktur-node {
      padding: 2px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background-color: #ffffff;
      border: 1px solid #000;
      min-width: 260px;
      font-family: Tahoma;
      font-size: 12px;
  }
  
  .struktur-node img {
    margin-right:  10px;
    max-width: 64px;
    max-height: 66px;
}

.struktur-node .node-title{
    text-align: center;
    border-top: 1px solid #000;
}