/* banner */
.jumbotron {
    background-image: url(../images/banner-utama.jpg);
    background-size: cover;
    height: 100vh;
    min-height: 600px;
    text-align: center;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron .container {
    height: 100%;
    position: relative;
    z-index: 1;
}

.jumbotron::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to top,
        rgba(21, 123, 224, 1),
        rgba(0, 0, 0, 0)
    );
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4 {
    color: #fff;
    font-weight: bolder;
    font-size: 64px;
}

.jumbotron .h3 {
    color: #fff;
}

.jumbotron .logo-yayasan {
    width: 200px;
    margin: 12px;
}

.jumbotron p {
    font-size: 18px;
    color: #fff;
}

.fa-chevron-down {
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin-top: 80px;
    cursor: pointer;
}

/* endbanner */

.sec {
    padding: 10%;
    background-color: #fff;
    color: #444;
}

.title::after {
    content: "";
    position: absolute;
    display: block;
    width: 108px;
    height: 3px;
    margin-top: 4px;
    background: var(--primary);
}

.title2::after {
    content: "";
    position: absolute;
    display: block;
    width: 108px;
    height: 3px;
    margin-top: 4px;
    left: calc(50% - 54px);
    background: var(--primary);
}

.title3::after {
    content: "";
    position: absolute;
    display: block;
    width: 108px;
    height: 3px;
    margin-top: 4px;
    left: calc(50% - 54px);
    background: var(--accent);
}

.title4::after {
    content: "";
    position: absolute;
    display: block;
    width: 300px;
    height: 3px;
    margin-top: 4px;
    left: calc(50% - 150px);
    background: var(--primary);
}

p {
    font-size: 20px;
}

.sec ul {
    margin: 16px;
    list-style: none;
}

.sec li {
    font-size: 18px;
    margin: 12px;
}

.sec i {
    color: var(--accent);
    font-size: 16px;
}

.img-box {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 5px;
    border: 3px solid var(--primary);
    border-radius: 50%;
}

.img-box img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}

.btn-welcome {
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #444;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    background: var(--accent);
}

.btn-welcome:hover {
    background: var(--accent-dark);
    color: #fff;
    text-decoration: none;
}

@media (max-width: 1024px) {
    .jumbotron {
        height: auto;
    }
    .jumbotron .display-4 {
        font-size: 48px;
    }
    .jumbotron .logo-yayasan {
        width: 160px;
    }
    .fa-chevron-down {
        display: none;
    }
}

@media (max-width: 768px) {
    .jumbotron .mobile {
        display: none;
    }
    .jumbotron .logo-yayasan {
        width: 100px;
    }
}
