.jumbotron {
    background-image: url(../assets/bg-yayasan.jpg);
    background-size: cover;
    height: 108vh;
    min-height: 500px;
    margin-top: -75px;
    text-align: center;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron .container {
    position: relative;
    z-index: 1;
    padding-top: 200px;
    height: 100%;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(63, 81, 181, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4 {
    color: #fff;
    font-weight: 500;
    font-size: 80px;
}

.jumbotron .display-4 span {
    font-weight: 500;
}

.jumbotron .h3 {
    color: #fff;
}

.jumbotron a {
    bottom: 0;
}

.welcome-yayasan {
    margin-top: -2rem;
    padding: 10%;
    background-color: #3f51b5;
}

.welcome-yayasan p {
    color: #fff;
    font-size: 20px;
}

.welcome-pkbm {
    padding: 10%;
    background-color: #fff;
}

.welcome-pkbm h1 {
    color: #3f51b5;
    font-size: 50px;
}

.welcome-pkbm p {
    color: #3f51b5;
    font-size: 20px;
}

.welcome-pt {
    padding: 10%;
    background-color: #3f51b5;
}

.welcome-pt h1 {
    color: #fff;
    font-size: 50px;
}

.welcome-pt p {
    color: #fff;
    font-size: 20px;
}

.welcome-sambutan {
    padding: 10%;
    background-color: #fff;
}

.welcome-sambutan h1 {
    color: #3f51b5;
    font-size: 50px;
}

.welcome-sambutan .blockquote-footer {
    color: #3f51b5;
}

.welcome-culture {
    padding: 10%;
    background-color: #3f51b5;
}

.welcome-culture h1 {
    color: #fff;
    font-size: 50px;
}

.welcome-culture li {
    color: #fff;
    font-size: 20px;
}

.welcome-mitra {
    padding: 10%;
    background-color: #fff;
}

.welcome-mitra h1 {
    color: #3f51b5;
    font-size: 50px;
}

.welcome-mitra img {
    width: 90%;
}

.btn-welcome {
    padding: 20px;
    background-color: #ffff40;
}