/* banner */
.jumbotron {
    background-image: url(../assets/bg-yayasan.jpg);
    background-size: cover;
    height: 108vh;
    min-height: 500px;
    margin-top: -75px;
    text-align: center;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron .container {
    position: relative;
    z-index: 1;
    padding-top: 200px;
    height: 100%;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(21, 123, 224, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4 {
    color: #fff;
    font-weight: 500;
    font-size: 64px;
}

.jumbotron .h3 {
    color: #fff;
}

.fa-chevron-down {
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin-top: 80px;
    cursor: pointer;
}
/* endbanner */

section{
    padding: 10%;
}

.yayasan {
    color: #fff;
    padding: 10%;
    background-color: var(--primary);
}

.yayasan p {
    font-size: 24px;
}

.pkbm {
    background-color: #fff;
    color: #444;
}

.pkbm h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 64px;
    height: 3px;
    margin-top: 4px;
    background: var(--primary);
}

.pkbm p {
    font-size: 20px;
}

.pt {
    background-color: var(--bg-gray);
    color: #444;
}

.pt h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 64px;
    height: 3px;
    margin-top: 4px;
    background: var(--primary);
}

.pt p {
    font-size: 20px;
}

.sambutan {
    background-color: #fff;
}

.sambutan h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 64px;
    height: 3px;
    margin-top: 4px;
    left: calc(50% - 32px);
    background: var(--primary);
}

.sambutan .blockquote-footer {
    color: #444;
}

.culture {
    background-color: var(--primary);
    color: #fff;
}

.culture h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 64px;
    height: 3px;
    margin-top: 4px;
    left: calc(50% - 32px);
    background: var(--secondary);
}

.culture ul{
    margin: 16px;
    list-style: none;
}

.culture li {
    font-size: 20px;
    margin: 12px;
}

.culture i{
    color: var(--secondary);
    font-size: 16px;
}

.mitra {
    background-color: #fff;
    color: #444;
}

.mitra h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 64px;
    height: 3px;
    margin-top: 4px;
    left: calc(50% - 32px);
    background: var(--primary);
}

.mitra img {
    width: 90%;
}

.img-box {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 5px;
    border: 3px solid var(--primary);
    border-radius: 50%;
}

.img-box img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}

.btn-welcome {
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #444;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    background: var(--secondary);
}
.btn-welcome:hover {
  background: var(--secondary-dark);
  color: #fff;
  text-decoration: none;
}